<h1>View campaign details</h1>
<div>
    <Label><b>Campaign's name: </b>{{campaign.name}}</Label>
</div>
<div>
    <Label><b>Campaign's keywords: </b>{{campaign.keywords}}</Label>
</div>
<div>
    <Label><b>Campaign's bid amount: </b>{{campaign.bidAmount}}</Label>
</div>
<div>
    <Label><b>Campaign's fund: </b>{{campaign.fund}}</Label>
</div>
<div>
    <Label><b>Campaign's status: </b>{{campaign.status}}</Label>
</div>
<div>
    <Label><b>Campaign's town: </b>{{campaign.town}}</Label>
</div>
<div>
    <Label><b>Campaign's radius: </b>{{campaign.radius}} km</Label>
</div>
